<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for After School Classes</title>
    <link rel="stylesheet" href="style.css">
    <!-- Vue integration here -->
    <!--script src="https://unpkg.com/vue"></script-->
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <header id="header">
            <h1>After School Classes</h1>
            <!-- Pressing updates HTML to show items added in cart -->
            <button v-on:click="toggleCheckoutPage"> {{ cartItemCount }} View Cart</button>
            <!-- {{}} to display number in vue data -->
        </header>



        <!-- state when IN checkout-->
        <div v-if="showCheckout">
            <h1>Your Cart</h1>

            <div v-if="cart.length == 0">
                <p>Nothing to place order!</p>
            </div>

            <div v-else>
                <div id="product" v-for="product in sortCartById">
                    <!-- pls expand on this -->
                    <!-- <h1>{{ product.id }}</h1> -->
                    <h1>Subject: {{ product.name }}</h1>
                    <img v-bind:src="product.image" height="200"> </img>
                    <p>Place: {{ product.place }}</p>
                    <p>Price: {{ product.price }}</p>
                    <button v-on:click="removeItemFromCart(product)">Remove</button></p>

                </div>
                <h2>Order Details</h2>
                <form @submit.prevent="submitOrder">
                    <!-- v-model affect html inputs, buttons and more. 
                     when inputted, the vue data is updated -->
                    <strong>First Name:</strong>
                    <input type="text" v-model.trim="order.firstName">
                    <strong>Last Name:</strong>
                    <input type="text" v-model.trim="order.lastName">
                    <strong>Phone Number:</strong>
                    <input type="text" v-model.number="order.phone">
                    <p>first name: {{order.firstName}}</p>
                    <p>last name: {{order.lastName}}</p>
                    <p>phone number: {{order.phone}}</p>
                    <button v-if="toggleOrderButton()" disabled> Fill to Order! </button>
                    <button v-else v-on:click="submitOrder">Place Order</button>
                </form>

            </div>
        </div>


        <!-- state when NOT in checkout -->
        <div v-else>
            <div id="sorts">

                <label> Select which to sort:
                    <input type="radio" name="topics" value="name" v-model="selectedTopic" checked>Name
                    <input type="radio" name="topics" value="place" v-model="selectedTopic">Place
                    <input type="radio" name="topics" value="price" v-model="selectedTopic">Price
                    <input type="radio" name="topics" value="slots" v-model="selectedTopic">Slots

                </label>
                <br>
                <label> Select how to sort it:
                    <input type="radio" id="ascending" name="orders" v-model="selectedOrder" value="ascend" checked>
                    Ascending Order
                    <input type="radio" id="descending" name="orders" v-model="selectedOrder" value="descend" checked>
                    Descending Order
                </label>
                <br>
                <button v-on:click="clearFilters">Clear Filters</button>
                <br>
                <input id="searchBar" type="text" placeholder="Search by Lesson/Location" v-model="searchQuery">
                <p> Selected filters: {{ testSort }}</p>

            </div>

            <div id="product" v-for="product in filterLessons">

                <h1>Subject: {{ product.name }}</h1>
                <img v-bind:src="product.image" height="200"> </img>
                <p>Place: {{ product.place }}</p>
                <p>Number of Slots left: {{ product.slots }}</p>
                <p>Price: £{{ product.price }}</p>
                <button v-if="canBeAddedToCart(product)" v-on:click="addItemToCart(product)">Add to
                    Cart</button>
                <button v-else disabled>Out of Stock!</button>

            </div>


        </div>



        <footer id="footer">
            <p>GM887 2024</p>
        </footer>

    </div>

    <!-- <script src="product.js"></script> -->
    <script src="app.js"></script>

</body>

</html>
