<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for After School Classes</title>
    <link rel="stylesheet" href="style.css">
    <!-- Vue integration here -->
    <!--script src="https://unpkg.com/vue"></script-->
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <header id="header">
            <h1>After School Classes</h1>
            <!-- Pressing updates HTML to show items added in cart -->
            <button v-on:click="toggleCheckoutPage"> {{ cartItemCount }} View Cart</button>
            <!-- {{}} to display number in vue data -->
        </header>

        <!-- state when IN checkout-->
        <div v-if="showCheckout">
            <p>checkout test</p>
            <button>Place Order</button> <!-- to expand on pls -->
        </div>

        <!-- state when IN placing order-->
        <!-- to add pls -->


        <!-- state when NOT in checkout -->
        <div v-else v-for="product in products">
            <!-- Example lesson to sell in front page -->
            <h1>Subject: <span v-text="product.name"></span></h1>
            <p>Location: <span v-text="product.place"></span></p>
            <p>Number of Slots left: <span v-text="product.slots"></span></p>
            <p>Price: <span v-text="product.price"></span></p>
            <button id="addToCart" v-if="canBeAddedToCart" v-on:click="addItemToCart">Add to Cart</button>
            <button id="addToCart" disabled="disabled" v-else>Out of Stock</button>
            <!-- Example lesson to sell in front page -->
        </div>

        <footer id="footer">
            <p>footer here</p>
        </footer>

    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: { //array to store array items
                products: [{
                    id: 1,
                    name: "Test product name",
                    place: "Test location",
                    slots: 5,
                    price: 10,
                }, {
                    id: 2,
                    name: "Test product name number 2",
                    place: "Test location over there",
                    slots: 3,
                    price: 21,
                }],
                cart: [], //store items added to cart here
                showCheckout: false, //state to show checkout page
            },
            methods: {
                //add product to cart array and reduce slots by 1
                addItemToCart: function () {
                    for (let i = 0; this.products.length > 0; i++) {
                        this.cart.push("test");
                        products[i].slots -= 1;
                    }
                },
                toggleCheckoutPage: function () {
                    // toggles showCheckout state to flip between checkout and not checkout
                    this.showCheckout = !this.showCheckout;
                },
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length;
                },

                canBeAddedToCart: function () { //creates new array of products that have slots > 0
                    return this.products.filter(product => product.slots > 0);
                },
            },
        });
    </script>
</body>

</html>